@media(min-width:576px){
    .title-big{
        font-size: 36px;
    }
    .container_discount{
        border-radius: 50px;
    }
    .img-kays{
        left: -137px;
    }
    .img-motor{
        width: 250px;
    }
    .container_discount{
        height: 420px;
    }
    .slick-prev, .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: auto;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
    }
    .slick-next {
        transform: rotate(90deg);
        left: -26px;
        bottom: 15px;
    }
    .slick-prev {
        left: -25px;
        z-index: 99;
        top: 30px;
        transform: rotate(90deg);
    }
    .slick-dots {
        position: absolute;
        bottom: 118px;
        display: block;
        width: 150px;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        left: -92px;
        transform: rotate(90deg);
    }
}

@media(min-width:768px){
    .price::after,
    .price::before{
        display: block;
    }
    .price::before{
        left: 435px;
    }
}

@media(min-width:992px){
    .img-kays{
        left: 0;
    }
    .img-motor{
        right: -75%;
    }
    .container_discount{
        height: 310px;
        overflow: visible;
    }
    .price::before {
        left: 565px;
    }
    .price_bottom::after{
        display: block;
    }
}

@media(min-width:1200px){
    .price::before {
        left: 700px;
    }
}