@media(min-width:576px){
    .title-big{
        font-size: 36px;
    }
    .container_discount{
        border-radius: 50px;
    }
    .img-kays{
        left: -137px;
    }
    .img-motor{
        width: 250px;
    }
    .container_discount{
        height: 420px;
    }
}

@media(min-width:768px){
    .price::after,
    .price::before{
        display: block;
    }
    .price::before{
        left: 435px;
    }
}

@media(min-width:992px){
    .img-kays{
        left: 0;
    }
    .img-motor{
        right: -75%;
    }
    .container_discount{
        height: 310px;
        overflow: visible;
    }
    .price::before {
        left: 565px;
    }
}

@media(min-width:1200px){
    .price::before {
        left: 700px;
    }
}