@font-face {
    font-family: "BanderaProHeavy";
    src: url("../fonts/BanderaProHeavy.woff") format("woff"),
      url("../fonts/BanderaProHeavy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "BanderaPro";
    src: url("../fonts/BanderaPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "BanderaPro";
}

.logo-img{
    width: 100px;
}

button{
    background: #2c4393;
    color: #fff;
    border: none;
    outline: none;
    font-family: "BanderaPro";
    padding: 15px 30px;
}

button:focus{
    outline: none;
}

.btn-header{
    font-size: 24px;
}

.text-blue{
    color: #2c4393;
}

.text-dark{
    color: #4e4e4e;
}

.text-black{
    color: #000;
}

.text-red{
    color: #ed2626;
}

.title-big{
    font-family: "BanderaProHeavy";
    font-size: 24px;
}

.title-price{
    font-family: "BanderaPro";
}

.bg-header{
    background-image: url(../img/header/bg.png);
    background-repeat: no-repeat;
}

.phone-header{
    font-family: "BanderaProHeavy";
}

.discription-top-section{
    font-family: "BanderaPro";
}

.bg-red{
    background-color: #ed2626;
}

.bg-grey{
    background-color: #f3f3f3;
}

.bg-blue{
    background-color: #2c4393;
    color: #fff;
}

.border-blue{
    border: 1px solid #2c4393 !important;
    border-radius: 9px;
}

.product-title-container{
    height: 285px;
}

.product-img{
    width: 130px;
}

.card{
    font-family: "BanderaPro";
}

.product-btn{
    display: none;
}

.product-card{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    transition: all 0.2s;
    height: 305px;
}

.product-card:hover{
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1.1);
    border: 1px solid #2c4393;
    padding-bottom: 1px !important;
    height: 330px;
}

.product-card:hover .product-btn{
    display: block;
}

.container_product-card{
    position: relative;
    height: 320px;
}

.btn-dowland-product{
    background-color: transparent;

}

.container_discount{
    /* border-radius: 50px; */
}

.container_discount__title,
.container_discount__sub-title{
    font-family: "BanderaProHeavy";
}

.container_discount{
    font-family: "BanderaPro";
    font-size: 14px;
    height: 500px;
    overflow: hidden;
}

.container__img-kays{
    border-radius: 50px;
}

.img-kays{
    position: absolute;
    bottom: 0;
    left: -265px;
}

.img-motor{
    position: relative;
    right: -56%;
    width: 155px;
    top: -55px;
    height: auto;
}

.text-mobile-v{
    font-size: 17px;
}

.step-5 p{
    font-size: 14px;
}

.num{
    max-width: 23px;
    padding: 0 0 0 3px;
    color: #fff;
}

.container__oil-mobile{
    overflow: hidden;
    height: 390px;
}

.img-oil-mobile{
    position: absolute;
    width: 375px;
}

.price{
    position: relative;
}

.price::after,
.price::before{
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.price::after{
    width: 400px;
    height: 300px;
    background-image: url(../img/prise-desctop/left-wheel.png);
    top: 300px;
    left: -360px;
}

.price::before{
    width: 400px;
    height: 400px;
    background-image: url(../img/prise-desctop/right-wheel.png);
    z-index: 1;
    top: 400px;
    left: 700px;
}

.bg-price{
    background-image: url(../img/price/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position-y: bottom;
}

.price__list p{
    font-size: 14px;
}

.select-r{
    background-image: url(../img/sas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    width: 100%;
}

.price_bottom::after{
    content: '';
    width: 98%;
    height: 1px;
    background-color: #d1d1d1;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    display: none;
}

.value-price::after{
    content: ' руб.';
}

.price_bottom .d-flex h5{
    font-size: 16px;
}

.bg-price_bottom{
    background-image: url(../img/bg-price_bottom/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.me-testimonial-two-data span i{
    color: #fe6601;
    padding-right: 4px;
    display: inline-block;
}

.fa, .fas{
    font-weight: 900;
}

.fa-star:before {
    content: "\2605";
    color: #ed2626;
}

.reviews{
    z-index: 0;
}

.reviews::before,
.reviews::after{
    content: '';
    position: absolute;
    border-radius: 15px;
    border: 1px solid #dedede;
}

.reviews::before{
    width: 90%;
    height: 300px;
    background-color: #fafafa;
    top: -5%;
    left: 5%;
    z-index: 0;
}

.reviews::after{
    width: 85%;
    height: 320px;
    background-color: #f1f1f1;
    top: -8%;
    left: 7%;
    z-index: -1;
}

.ico_mas{
    width: 25px;
}

.ico_map{
    width: 20px;
}

footer ul li{
    list-style: none;
}

.bg-modal{
    border-radius: 15px 0px 0px 15px;
    background-image: url(../img/header/bg.png);
    background-repeat: no-repeat;
}

.close{
    font-size: 2.5rem;
}

.text-gray{
    color: #c7c7c7;
}

.right-col-modal{
    background-color: #e9e9e9;
    border-radius: 0px 15px 15px 0px;
}

.right-col-modal__container-title{
    border-bottom: 1px solid #2c4393;
}

.right-col-modal__title{
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #c7c7c7;
    font-family: "BanderaProHeavy";
}

.title-modal{
    font-family: "BanderaProHeavy";
}

.modal__text-soc{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #7e7e7e;
    font-family: "BanderaPro";
    margin-bottom: 8px;
}

.link_social{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #2c4393;
    color: #fff;
    max-width: 95px;
    display: block;
    margin: 0 auto;
}

.img-modal{
    position: absolute;
    width: 500px;
    left: -70px;
    top: 230px;
}

.modal{
    overflow: hidden;
}

.input-modal{
    width: 100%;
}

.card_reviews{
    height: 400px;
    padding: 20px 0 0 20px;
}