@font-face {
    font-family: "BanderaProHeavy";
    src: url("../fonts/BanderaProHeavy.woff") format("woff"),
      url("../fonts/BanderaProHeavy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "BanderaPro";
    src: url("../fonts/BanderaPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "BanderaPro";
}

.logo-img{
    width: 100px;
}

button{
    background: #2c4393;
    color: #fff;
    border: none;
    outline: none;
    font-family: "BanderaPro";
    padding: 15px 30px;
}

button:focus{
    outline: none;
}

.btn-header{
    font-size: 24px;
}

.text-blue{
    color: #2c4393;
}

.text-dark{
    color: #4e4e4e;
}

.text-black{
    color: #000;
}

.text-red{
    color: #ed2626;
}

.title-big{
    font-family: "BanderaProHeavy";
    font-size: 24px;
}

.title-price{
    font-family: "BanderaPro";
}

.bg-header{
    background-image: url(../img/header/bg.png);
    background-repeat: no-repeat;
}

.phone-header{
    font-family: "BanderaProHeavy";
}

.discription-top-section{
    font-family: "BanderaPro";
}

.bg-red{
    background-color: #ed2626;
}

.bg-grey{
    background-color: #f3f3f3;
}

.bg-blue{
    background-color: #2c4393;
    color: #fff;
}

.border-blue{
    border: 1px solid #2c4393;
    border-radius: 9px;
}

.product-title-container{
    height: 285px;
}

.product-img{
    width: 130px;
}

.card{
    font-family: "BanderaPro";
}

.product-btn{
    display: none;
}

.product-card{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    transition: all 0.2s;
    height: 305px;
}

.product-card:hover{
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1.1);
    border: 1px solid #2c4393;
    padding-bottom: 1px !important;
    height: 330px;
}

.product-card:hover .product-btn{
    display: block;
}

.container_product-card{
    position: relative;
    height: 320px;
}

.btn-dowland-product{
    background-color: transparent;

}

.container_discount{
    /* border-radius: 50px; */
}

.container_discount__title,
.container_discount__sub-title{
    font-family: "BanderaProHeavy";
}

.container_discount{
    font-family: "BanderaPro";
    font-size: 14px;
    height: 500px;
    overflow: hidden;
}

.container__img-kays{
    border-radius: 50px;
}

.img-kays{
    position: absolute;
    bottom: 0;
    left: -265px;
}

.img-motor{
    position: relative;
    right: -56%;
    width: 155px;
    top: -55px;
}

.text-mobile-v{
    font-size: 17px;
}

.step-5 p{
    font-size: 14px;
}

.num{
    max-width: 23px;
    padding: 0 0 0 4px;
    color: #fff;
}

.container__oil-mobile{
    overflow: hidden;
    height: 390px;
}

.img-oil-mobile{
    position: absolute;
    width: 375px;
}

.bg-price{
    background-image: url(../img/price/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.price__list p{
    font-size: 14px;
}